{
  "openapi": "3.0.1",
  "info": {
    "title": "Vambo AI API",
    "description": "API for interacting with Vambo AI",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.vambo.ai/v1/"
    }
  ],
  "security": [
    {
      "bearerAuth": []  
    }
  ],
  "paths": {
    "/identify/text": {
      "post": {
        "description": "Returns the languages that the given text is written in",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "The text to identify"
                  }
                },
                "required": ["text"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Identify text response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "primary": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "script": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        }
                      },
                      "required": ["name", "script", "code"]
                    },
                    "additional": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "script": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "required": ["name", "script", "code"]
                      }
                    }
                  },
                  "required": ["primary"]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": ["detail"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": ["detail"]
                }
              }
            }            
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": ["detail"]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": ["detail"]
                }
              }
            }
          }
        }
      }
    },
    "/translate/text": {
      "post": {
        "description": "Translates a given text",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "The text to translate"
                  },
                  "source_lang": {
                    "type": "string",
                    "description": "The source language of the text"
                  },
                  "target_lang": {
                    "type": "string",
                    "description": "The target language of the text"
                  }
                },
                "required": ["text", "source_lang", "target_lang"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Translate text response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "translated_text": {
                      "type": "string"
                    }
                  },
                  "required": ["translated_text"]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": ["detail"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": ["detail"]
                }
              }
            }            
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": ["detail"]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": ["detail"]
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
