{
  "openapi": "3.0.1",
  "info": {
    "title": "Vambo AI API",
    "description": "API for interacting with Vambo AI",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.vambo.ai"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/identify/text": {
      "post": {
        "description": "Returns the languages that the a given text is written in",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Identify text response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "primary": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "script": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string"
                        }
                      },
                      "required": ["name", "script", "code"]
                    },
                    "additional": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "script": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "required": ["name", "script", "code"]
                      }
                    }
                  },
                  "required": ["primary"]
                }
              }
            }
          }
        }
      }
    },
    "/translate/text": {
      "post": {
        "tags": ["Translate"],
        "summary": "Translate text",
        "operationId": "translateText",
        "description": "Translates a given text",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  },
                  "source_lang": {
                    "type": "string"
                  },
                  "target_lang": {
                    "type": "string"
                  }
                },
                "required": ["text", "target_lang"]
              }              
            }
          }	
        },
        "responses": {
          "200": {
            "description": "Translate text response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "translated_text": {
                      "type": "string"
                    }
                  },
                  "required": ["translated_text"]
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Plant": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "NewPlant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Plant"
          },
          {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}